a:link { 
	color: black; 
}
a:visited { 
	color: black; 
}
a:hover { 
	color: black; 
}
a:active { 
	color: black; 
}

p {
	margin-bottom: 0;
}

ul {
	list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
	margin-top: 0;
    margin-left: 0;
}